{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
    <link rel="stylesheet" href="{% static "css/welcome.css" %}">
    {% include 'imports.html' %}
    <style>
        body {
            background-color: whitesmoke !important;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<body>
{% include 'navbar.html' %}
<canvas id="myChart"></canvas>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var color_list = [];
    var dynamicColors = function () {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    };
    for (var i = 1; i <= 10; i++) {
        color_list.push(dynamicColors());
    }
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ countries|safe }},
            datasets: [{
                data: {{ count|safe }},
                backgroundColor: color_list,
                borderColor: color_list,
                borderWidth: 2
            }]
        },
        options: {
            title: {
                display: true,
                fontSize: 26,
                fontColor: 'black',
                text: '# Ducks per Country'
            },
            legend: {
                display: true,
                labels: {
                    fontColor: "black",
                    fontSize: 20
                }
            },
            tooltips: {
                titleFontSize: 20,
                bodyFontSize: 20
            }
        }
    });
</script>
</body>
</html>