{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% include 'imports.html' %}
    <script type="application/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
{% include 'navbar.html' %}
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="add_button hvr-pulse-grow">+
</button>
<table id="main_table" class="maintable">
    <thead>
    <tr>
        <th>#</th>
        <th>Country</th>
        <th>Park Name</th>
        <th># of Ducks</th>
        <th>Food Fed</th>
        <th>Food Type</th>
        <th>Time Fed</th>
        <th>Fed Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for data in event_data %}
        <tr class="table_tbody_row">
            <td>{{ forloop.counter }}</td>
            <td>{{ data.location_id.country }}</td>
            <td>{{ data.location_id.park_name }}</td>
            <td>{{ data.number_of_ducks }}</td>
            <td>{{ data.food_data_id.food_name }}</td>
            <td>{{ data.food_data_id.food_type }}</td>
            <td>{{ data.time_fed }}</td>
            <td>{{ data.food_amount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'create_modal.html' %}
<script>
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>