{% load static %}
<style type="text/css">
    .font_20 {
        font-size: 20px !important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img class="logo_main" src="{% static "img/blue-duck.svg" %}" alt="Main Logo">
        <i class="intro-lead-in font_20">Food Stats</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse margin_left_80" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main_page' %}">Statistics <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'analytics' %}">Analytics <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>