{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Duck Statistics</title>
    <link rel="stylesheet" href="{% static "css/welcome.css" %}">
    {% include "imports.html" %}
</head>

<body>
{% include 'navbar.html' %}
<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg__video">
        <source src="{% static 'webm/background2.webm' %}" type="video/webm" media="all and (max-width: 480px)">
    </video>
</div>
<div class="container white width_50">
    <h1>Welcome to Feeding Statistics</h1>
    <p>Allowing people to see statistics for food fed to ducks</p>
    <p>Click links below to view the statistics from all around the world</p>
</div>
<div class="align_center">
    <a class="white hvr-pulse-grow" href="/main"><i class="fas fa-table">&emsp;</i>Statistics</a>
    <a class="white hvr-pulse-grow" href="/analytics"><i class="fas fa-chart-pie">&emsp;</i>Analytics</a>
</div>
</body>
</html>