#bg {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

@media (max-width: 767px) {

    .fullscreen-bg__video {
        display: none;
    }
}

.intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.intro_links {
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1em;

}

.logo_main {
    width: 15%;
    margin-right: 5px;
}

.float_right {
    float: right;
}

.white {
    color: #fff;
    text-align: center;
    margin-top: 5%;
    background-color: #000000a8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
}

.width_50 {
    width: 50% !important;
}

.align_center {
    text-align: center;
    margin-top: 2em;

}

.margin_left_80 {
    margin-left: 80%;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}